.userListItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avaNameButtons {
  display: flex;
  justify-content: space-between;
}

.confirmationModal {
  width: 24rem;
  min-width: 20%;
}
