.userListItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 10px;
}

.avaNameButtons {
  display: flex;
  justify-content: space-between;
}

.followButtons {
  display: flex;
  align-items: center;
  width: 7.5rem;
}

.followButton {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.confirmationModal {
  width: 24rem;
  min-width: 20%;
}
