.container {
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--light-900);
  margin-bottom: 4px;
}

.regular16 {
  font-size: 16px;
  font-weight: 400;
}

.disabled {
  pointer-events: none;
  color: var(--dark-100);
}

.input {
  background-color: var(--dark-700);
  height: 36px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--dark-100);
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-900);

  &:hover:not(:disabled) {
    border-color: var(--light-900);
    color: var(--light-900);
  }

  &:focus:not(:disabled) {
    border-color: var(--primary-500);
    outline: none;
  }

  &:active:not(:disabled) {
    border-color: var(--light-100);
    background-color: var(--dark-500);
    color: var(--light-100);
  }

  &.error {
    border-color: var(--danger-500);
  }

  &.disabled {
    color: var(--dark-100);
    cursor: not-allowed;
    border-color: var(--dark-100);
  }

  &[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}

.searchPadding {
  padding-left: 35px;
}

.passwordPadding {
  padding-right: 35px;
}

.clear,
.searchIcon,
.eyeIcon {
  position: absolute;
  top: 6px;
  cursor: pointer;
  color: var(--light-100);
}
.disabledIcon {
  color: var(--dark-100);
  cursor: not-allowed;
}

.clear {
  right: 4px;
}

.searchIcon {
  left: 6px;
}

.eyeIcon {
  right: 4px;
}

.errorMessage {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: var(--danger-500);
}
