.page {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 15vh, 40px);
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  padding-right: 36px;
}

.searchText {
  margin-bottom: 13px;
}

.searchBox {
  margin-bottom: 24px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px 0;
}

.userBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.userCard {
  display: flex;
  gap: 15px;
}

.userLink {
}

.userCard .userLink {
  color: var(--light-100);
  text-decoration: underline;
}

.userCard .userName {
  color: var(--light-900);
}

.wrapLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderText {
  color: var(--light-900);
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 90px 0;
}

.emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyContent .emptyTitle {
  color: var(--light-900);
}

.emptyContent .emptySubtitle {
  color: var(--light-900);
}

.loadMore {
  height: 50px;
  color: red;
  text-align: center;
}

/*
.pagination {
  margin-top: 36px;
}

.noAuthPage {
  width: 80%;
  margin: auto;
}

.loaging {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadMore {
  height: 50px;
  text-align: center;
}
*/
