.container {
  display: flex;
  flex-direction: column;
}

.label {
  &:has(+ textarea:disabled) {
    color: var(--dark-100);
  }
}

.textArea {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--dark-100);
  padding: 6px 12px;
  resize: none;
  border-radius: 2px;
  box-shadow: none;
  min-height: 84px;
  background-color: var(--dark-500);
  color: var(--light-100);

  &::placeholder {
    color: var(--light-900);
  }
  &:focus::placeholder {
    color: var(--light-100);
  }
  &:focus {
    outline: 2px solid var(--primary-700);
    color: var(--light-100);
  }
  &:disabled::placeholder {
    color: var(--dark-100);
  }
}

.informationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;

  & .symbol {
    margin-left: auto;
    color: var(--light-900);
  }

  & .errorText {
    color: var(--danger-500);
  }
}

.isError:not(textArea:disabled) {
  outline: 2px solid var(--danger-500);
}
