.postsGrid{
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  width: 100%;

  background-color: #0f9954;
}

