.postsGrid {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 234px);
justify-content: space-between;

  height: fit-content;
}

.image {
  width: 100%;
  text-align: center;
}

