.postsGrid {
  //display: grid;
  //grid-gap: 12px;
  //grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.image {
  aspect-ratio: 234/228;
  width: calc(25% - 12px);
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-500);
  border-radius: 10px;

  color: var(--dark-500);
}

.postImage {
  width: 100%;
  height: 100%;
}

@media (width <= 924px) {
  .image {
    width: calc(33% - 12px);
  }
}

@media (width <= 698px) {
  .image {
    width: calc(50% - 12px);
  }
}

@media (width <= 524px) {
  .image {
    width: calc(100%);
  }
}
