.postsGrid{
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image {
  aspect-ratio: 1/1;
  width: min(278px,100%);
  background-color: #0f9954;
}

