.item {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 5px 0;

  color: var(--light-100);
  text-decoration: none;

  background-color: transparent;
  border: none;

  &:hover {
    color: var(--primary-100);
  }

  &:active {
    color: var(--primary-500);
  }

  &:focus-visible {
    border:  1px solid var(--primary-700);
  }
}

.itemTitle{
  color: inherit;
}


.icon {
  color: inherit;
}

.active {
  color: var(--primary-500);
}
