.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 2%;
}

.label {
  font-size: 12px;
  color: var(--light-100);
  text-transform: none;
}

.link {
  font-size: 12px;
  color: var(--light-100);
  text-decoration: underline;

  &:visited {
    color: var(--primary-500);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  width: max(378px, 30%);
  height: fit-content;
  padding: 2%;
}

.contentForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: center;
}

.text {
  color: var(--light-100);
}

.oauthBtns {
  display: flex;
  gap: 60px;
}

.cardEmailSent {
  gap: 0;
  max-width: 378px;
  padding: 12px 0 36px;
  background-color: var(--Dark-300, #333);
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 24px 11px;

  border-bottom: 1px solid var(--dark-100);
}

.iconClose {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 24px;
}

.cardText {
  margin-bottom: 18px;
}

.cardButton {
  align-self: end;
  padding: 6px 36px;
  line-height: 150%;
}
