.statisticsItem {
  display: flex;
  flex-direction: column;

  .statisticsText {
    transition: color 0.3s ease;
  }
}

.clickable {
  &:hover {
    cursor: pointer;

    .statisticsText {
      color: var(--primary-100);
    }
  }
}
