.modal {
  width: 100%;
  max-width: 972px;
  height: fit-content;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;
}

.contentModal {
  display: flex;
  width: 100%;
  height: 60vh;
  border-top: 1px solid var(--dark-100);
}

.photoBox {
  width: 100%;
  max-width: 490px;
}

.photoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionBox {
  width: 100%;
  max-width: 480px;
  padding: 24px 24px 44px;
  background-color: var(--dark-300);
}
