.sidebar {
  overflow-y: auto;
  width: max(220px,20%);
  border-right: 1px solid var(--dark-300);
  background-color: var(--dark-700);
}

.container {
  display: flex;
  flex-direction: column;
  gap:60px;
  align-items: center;

  width: 100%;
  padding: 72px 0;
}

.userActions {
  margin-top: 120px;
}


@media  (width <=  768px) {
  .container{
    display: none;
  }
}
