.page {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  padding-right: 36px;
}

.searchText {
  margin-bottom: 13px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px 0;
}

.messengerWrapper {
  display: flex;
  justify-content: space-between;
  height: calc(100lvh - 240px);
}

.dialoguePartners {
  overflow-y: auto;

  width: 100%;
  max-width: 269px;
  height: calc(100lvh - 240px);
  border: 1px solid var(--dark-300);

  background: var(--dark-500);
}

.dialoguePartner {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  padding: 12px;
  border-top: 1px solid var(--dark-300);
}

.dialoguePartnerInfo {
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grey {
    color: var(--dark-100);
  }
}

.searchBox {
  padding: 17px 12px 19px;
}

.input input {
  background: var(--dark-500);
}

.dialogue {
  overflow-y: auto;

  width: 100%;
  max-width: 702px;
  height: calc(100lvh - 240px);
  border: 1px solid var(--dark-300);

  header {
    display: flex;
    gap: 12px;
    align-items: center;

    padding: 12px;
    border-bottom: 1px solid var(--dark-300);

    background: var(--dark-500);
  }

  .dialogueBody {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    height: calc(100% - 86px - 48px);
    padding: 23px;
  }

  .message {
    display: flex;
    gap: 12px;
    align-items: flex-end;
  }

  .isMy {
    align-self: flex-end;

    .text {
      background: var(--primary-900);
    }

    .time {
      color: var(--primary-100);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 12px;
    border-radius: 8px;

    background: var(--dark-300);
  }

  .time {
    align-self: flex-end;
    color: var(--dark-100);
  }

  .footer {
    padding: 12px 24px;
    border-top: 1px solid var(--dark-300);
    background: transparent;

    .input {
      background: transparent;
    }
  }
}
