.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 300px;
  height: 79px;
  padding: 12px 20px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;

  .errorTextBox {
    position: absolute;
    top: 2px;
    width: 70%;
    line-height: 0.53;
  }
}

.checkbox {
  display: flex;
  gap: 13px;
  align-items: center;
}

.input {
  width: 20px;
  height: 20px;
}

.label {
  font-family: var(--second-family), sans-serif;
  font-weight: 500;
}

.icon {
  width: 30px;
  height: 30px;
}

.loadingContainer {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderCircle {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 4px solid transparent;
  border-top: 4px solid #4285f4;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.greenCheck {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: transparent; /* Зеленый фон */

  &::before {
    content: '';

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

    width: 20px;
    height: 10px;

    border-bottom: 3px solid var(--success-500);
    border-left: 3px solid var(--success-500);
  }
}


.error {
  width: max-content;
  padding: 8px 7px;
  border: 1px solid rgb(255 0 0 / 100%);

}

.textError {
  margin-top: 13px;
  font-family: var(--second-family), sans-serif;
  font-size: 11px;
  color: rgb(255 0 0 / 100%);
}
