.container {
  width: 300px;
  height: 79px;
  background-color: var(--dark-500);
  border-radius: 2px;
  border: 1px solid var(--dark-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 13px;
}
.input {
  width: 20px;
  height: 20px;
}
.label {
  color: var(--light-100);
  font-family: var(--second-family), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.icon {
  width: 30px;
  height: 30px;
}
