.modal {
  width: clamp(420px, 50vw, 1200px);
  min-width: 50%;
  height: fit-content;
  padding: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;
}

.buttonBack {
  border: none;
}

.contentModal {
  position: relative;
  width: 100%;
  height: 60vh;

  > :first-child {
    height: 100%;
  }
}
