.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.pageLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.currentBox {
  margin: 6px 0 24px;
}

.containerForOther {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1vh, 20px);

  h3 {
    margin-bottom: 6px;
  }
}

.box {
  display: flex;
  gap: 12px;
  align-items: center;

  height: clamp(120px, 3vh, 200px);
  padding: 18px 24px;
  border: 1px solid var(--dark-300);
  border-radius: 2px;

  background-color: var(--dark-500);
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: flex-end;
}

.browserBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5%;
  height: 100%;

  color: var(--light-100);

  @media (width <= 940px) {
    width: 10%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  span:first-child {
    padding-bottom: 13px;
  }
}
