.card {
  height: 391px;
  width: 234px;

  position: relative;
  overflow: hidden;

  background-color: var(--dark-500);
}

.mockCarousel {
  width: 234px;
  height: 240px;

  background-color: var(--dark-300);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.cardLowerPart {
  padding: 0 2px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);

  background-color: var(--dark-500);


  &.shifted {
    transform: translateY(-50%);
  }
}



.owner {
  margin: 12px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.mockAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background-color: var(--light-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockUsername {
  color: var(--light-100);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.creationTime{
  color: var(--light-900);
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


.descriptionText {
  color: var(--light-100);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  display: inline;
}

.showmoreBtn {
  padding: 0;
  margin: 0;
  margin-left: 2px;
  display: inline;

  background-color: unset;
  border: none;
  text-decoration: underline;
  cursor: pointer;

  color: var(--primary-500);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
}