.dialog {
  width: 100%;
  max-width: 972px;
  padding: 0;
}

.dialog > div {
  height: 100%;
}

.container {
  overflow-y: auto;
  display: flex;
  flex: 1;
  justify-content: center;

  height: 100%;

  & > img,
  & > div, {
    width: 50%;
    min-width: auto;
    height: 490px;
  }
}


@media screen and (width <= 1060px) {
  .closeClassName {
    top: -35px;
    right: 0;
  }
}

@media screen and (width <= 964px) {
  .container {
    flex-direction: column;
    gap: 0;

    & > div {
      width: 100%;
    }
  }

  .dialog {
    width: clamp(330px, 75vw, 490px);
  }
}
