.dialog {
  width: 100%;
  max-width: 972px;
  padding: 0;

}

.container {
  overflow-y: auto; /* Прокрутка только для контента */
  display: flex;
  flex: 1; /* Занимает всё доступное пространство */
  gap: 20px;
  align-items: center;
  justify-content: center;

  & > div {
    width: 50%;
    min-width: auto;
  }
}


@media screen and (width <= 1060px) {
  .closeClassName {
    top: -35px;
    right: 0;
  }
}

@media screen and (width <= 964px) {
  .container {
    flex-direction: column;
    gap: 0;

    & > div {
      width: 100%;
    }
  }

  .dialog {
    width: clamp(330px, 75vw, 490px);
  }
}