.container {
  display: flex;
}

.button {
  background-color: transparent;
  padding: 6px;
  margin: 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (hover: hover) {
    &:hover svg {
      opacity: 0.8;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--primary-700);
  }
}
