.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 2%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: max(378px, 29%);
  height: fit-content;
  padding: 24px;

  @media (width <= 375px) {
    width: 95%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;

}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.text {
  margin: 7px 0 41px;
  color: var(--light-900);
}

.modal{
  width: 28%;
  height: fit-content;

  @media (width <= 780px) {
    width: 55%;
  }

  @media (width <= 375px) {
    width: 95%;
  }

}

.contentModal{
  display: flex;
  flex-direction: column;
  gap:18px;

  padding-top: 30px;

  text-align: justify;
}

.btnModal{
  align-self: end;
  width: max(100px,20%);
}
