.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: calc(100lvh - 60px);
}


.card {
  width:clamp(320px, 50%, 400px);
  margin: 0 auto;
  padding: 24px
}

.title {
  margin: 23px auto 13px;
  text-align: center;
}

.boxButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-width: 136px;
  height: 36px;
  margin-bottom: 24px;

  & button{
    background-color: transparent;
  }
}

.boxInputs {
  width: 100%;
}

.input {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  padding: 0;

}

.link {
  color: var(--light-900);

  &:hover {
    text-decoration: underline;
  }
}

.linkText{
  padding: 12px 0 12px 20px;
  color: var(--light-900);
}

.boxLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.singIn {
  margin-top: 12px;
  margin-bottom: 18px;
}

.text {
  margin-bottom: 6px;
  text-align: center;
}

.singUp {
  color: var(--primary-500);
}