.trigger{
  border: none;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  min-width: 161px;
  height: 204px;
  padding: 12px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-100);
}

.iconButton {
  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.icon {
  color: var(--light-100);
}

.iconActive {
  color: var(--primary-500);
}
