.addComment {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  padding: 18px 23px 17px 24px;
}

.textareaWrapper {
  width: 100%;
}

.textarea textarea {
  height: 24px;
  padding: 0;
  border: none;

  font-size: 14px;
  color: var(--light-900);

  background-color: var(--dark-300);
}
