.commentsBox {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 564px;
  height: 100%;
  max-height: 481px;
  padding: 11px 0;

  background-color: var(--dark-300);
}

.commentsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px 11px 24px;
}

.commentsBody {
  overflow: auto;
  max-height: 336px;
  padding: 19px 23px 8px 24px;
}

.postActions {
  padding: 11px 23px 7px 24px;
}

.interactionBar {
  margin-bottom: 19px;
}

.postLikesBox {
  margin-bottom: 5px;
}

.addComment {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  padding: 18px 23px 17px 24px;
}

.textareaWrapper {
  width: 100%;
}

.textarea textarea {
  height: 24px;
  min-height: 24px;
  padding: 0;
  border: none;

  font-size: 14px;
  color: var(--light-900);

  background-color: var(--dark-300);
}

.usersCommentBody {
  display: flex;
  align-items: start;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.userComment {
  margin-right: auto;
  margin-left: 12px;
}

.userCommentBottom {
  display: flex;
  gap: 12px;
  margin-top: 5px;

  & p {
    color: var(--light-900);
  }
}

.heartIcon {
  cursor: pointer;
  align-self: center;

  & path {
    fill: var(--light-100);
  }
}

.commentHeartIcon {
  width: 16px;
  height: 16px;
}

.red {
  & path {
    fill: var(--danger-500);
  }
}

.answerButton {
  display: inline;

  padding: 0;
  border: none;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--light-900);

  background: none;
}

.userNameComment {
  display: inline-flex;
  margin-right: 5px;
}

.postDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--light-900);
}
