.commentsBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;

  background-color: var(--dark-300);
}

.commentsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.userAvatarName {
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.commentsBody {
  overflow-y: auto;
  flex: 1 1 auto;

  max-height: 50vh;
  padding: 20px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.descriptionBox {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.description {
  overflow: hidden;

  box-sizing: border-box;
  width: 370px;
  max-width: 100%;

  word-wrap: break-word;
}

.userNameContent {
  max-width: 100%;
  margin-bottom: 5px;
}

.userName {
  transition: color 0.6s ease;
}

.commentsBody .descriptionBox .userNameLink .userName:hover {
  color: var(--light-900);
}

.timeAgo {
  color: var(--light-900);
}

.postActions {
  padding: 10px 24px;
}

.postActions:has(+ .withBorder) {
  border-bottom: 1px solid var(--dark-100);
}

.interactionBar {
  margin-bottom: 19px;
}

.postLikesBox {
  margin-bottom: 5px;
}

.postDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--light-900);
}

.withBorder {
  border-bottom: 1px solid var(--dark-100);
}

.smallAva {
  flex-shrink: 0;
}
