.page {
  display: flex;
  flex-direction: column;
  gap:5%;
  height: 100%
}

.profileContainer {
  display: flex;
  gap: 5%;
  align-items: center;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap:12px;
  justify-content: space-between;

  width: 80%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap:1.5rem;
  justify-content: space-between;
}

.userNameContainer {
  display: flex;
  gap: 1%
}

.followersStats {
  display: flex;
  gap: 10%
}

.profileDescription {
  overflow-wrap: break-word;

}

.followersStatItem {
  display: flex;
  flex-direction: column;
}
