.container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 24px;

  & .input {
    width: max(229px, 4%);
  }

  & span {
    width: 294px;
    text-align: center;
  }

  & h1 {
    text-align: center;
  }

  & button {
    width: 229px;
    height: 36px;
    text-align: center;
  }

  & img {
    width: 100%;
    max-width: 430px;
    height: auto;

    @media (width >= 425px) and (width <= 1024px) {
      max-width: 350px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modalEmailSent {
  max-width: 378px;

  & hr {
    margin-bottom: 0;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modalText {
  margin-top: 30px;
}

.modalButton {
  align-self: end;
  padding: 6px 36px;
  line-height: 150%;
}
