.dialogue {
  overflow-y: auto;
  width: 100%;
  height: calc(100lvh - 240px);
  border: 1px solid var(--dark-300);

  header {
    padding: 12px;
    border-bottom: 1px solid var(--dark-300);
    background: var(--dark-500);
  }

  .dialogueLink {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .dialogueBody {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    height: calc(100% - 86px - 48px);
    padding: 23px;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    padding: 12px;
    border-top: 1px solid var(--dark-300);

    background: transparent;

    .bth {
      white-space: nowrap;

      /*
      all: unset; !* сброс *!

      cursor: pointer; !* делаем кликабельной *!

      display: inline-flex; !* или block/flex — как нужно *!
      align-items: center;
      justify-content: center;
      */
    }

    .input {
      background: transparent;
    }
  }
}
