.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 15px;
}


.headerActions {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media  (width >= 768.5px) {
  .container{
    display: none;
  }
}

