.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 220px;
  height: 100vh;

  background-color: var(--dark-700);
  border-right: 1px solid var(--dark-300);
}

.container {
  display: flex;
  flex-direction: column;
  gap:60px;
  align-items: center;

  width: 100%;
  padding-top: 72px;
}

.userActions {
  margin-top: 120px;
}
