.dialoguePartnerContainer {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  width: 100%;
  padding: 12px;
  border-top: 1px solid var(--dark-300);

  &:last-child {
    border-bottom: 1px solid var(--dark-300);
  }
}

.dialoguePartnerInfo {
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grey {
    color: var(--dark-100);
  }
}

.truncate {
  overflow: hidden;
  display: block;

  max-width: 160px;

  text-overflow: ellipsis;
  white-space: nowrap;
}
