.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputsContainer {
  display: flex;
  gap: clamp(30px, 5vw, 40px);
  width: 100%;
}

.photoBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  width: 25%;

}

.informationBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: clamp(10px, 2vh, 24px);

  width: 70%;
}

.selectBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select {
border: 1px solid red;
}

.otherBox {
  width: 100%;
}

.hr {
  margin: 24px 0;
  border: 0.5px solid var(--dark-100);
}

.button {
  display: block;
  margin-left: auto;
}
