.calendarContainer {
  margin: 0;
  padding: 7px 12px;
}

// Заголовок (месяц и год)
.caption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captionLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: var(--light-100);
}

// Ячейки сетки календаря
.cell {
  position: relative;
  padding: 0;
  font-size: 14px;
  text-align: center;

  &:focus-within {
    position: relative;
    z-index: 20;
  }

  &:has([aria-selected]) {
    background-color: var(--color-accent-500);

    &.day-outside {
      background-color: rgba(var(--color-accent-500-rgb), 0.5);
    }

    &.day-range-end {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}

// Стили дней
.day {
  cursor: pointer;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  color: var(--light-100);

  transition: all 0.3s ease;

  &:focus-visible:not([disabled]) {
    border: 2px solid var(--primary-300);
    color: var(--light-100);
    background-color: transparent;
  }

  &:active {
    background-color: var(--primary-900);
  }

  &[aria-selected] {
    //opacity: 1;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-700) !important;
    }
  }
}

.dayWeekend {
  color: var(--danger-300, #f23d61);

  &:focus-visible:not([disabled]) {
    color: var(--danger-300, #f23d61);
  }

  &[aria-selected] {
    color: var(--danger-300, #f23d61);
  }
}

.day[disabled]:not(.daySelected) {
  opacity: 0.5;
}

.dayToday {
  font-weight: 700;
  color: var(--primary-500);

  &[aria-selected] {
    color: var(--light-100);
  }

  &:focus-visible:not([disabled]) {
    color: var(--primary-300);
  }

  &:active {
    color: var(--light-100);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-100);
    }
  }
}

.dayDisabled {
  pointer-events: none;
  cursor: default;
}

.dayHidden {
  //visibility: hidden;
}

//.dayRangeMiddle {
//  &[aria-selected] {
//    color: var(--color-accent-foreground);
//    background-color: var(--color-accent);
//  }
//}

.daySelected {
  background-color: var(--primary-900);
}

.dayOutside {
  color: var(--light-900);

  &[aria-selected] {
    color: var(--light-100);
  }

  &:focus-visible:not([disabled]) {
    color: var(--light-900);
  }
}

// Заголовки дней недели
.headCell {
  width: 32px;
  padding: 4px 0;

  font-size: 12px;
  font-weight: 400;
  color: var(--light-900);
  text-align: center;
}

.headRow {
  display: flex;
}

// Контейнер месяца (The display: table property prevents flex-direction from having an effect.)
.month {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

// Контейнеры месяцев (для multi-month)
.months {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width >= 640px) {
    flex-direction: row;
    gap: 16px;
  }
}

// Навигация
.nav {
  display: flex;
  gap: 4px;
  align-items: center;
}

.navButton {
  cursor: pointer;

  width: 28px;
  height: 28px;
  padding: 0;
  border: none;

  opacity: 0.5;
  background: transparent;

  &:hover {
    opacity: 1;
  }
}

.navButtonNext {
  position: absolute;

  //right: 8px;
}

.navButtonPrev {
  position: absolute;

  //left: 8px;
}

// Строка дней
.row {
  display: flex;
  width: 100%;

  //margin-top: 8px;
  margin-top: 4px;
}

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      margin-bottom: 20px;
    }

    th {
      padding: 0;
      font-size: 16px;
      line-height: 150%;

      //color: var(--light-900, #8d9094);
    }
  }

  tbody td {
    font-size: 16px;
    line-height: 150%;

    //color: var(--light-900, #8d9094);
  }

  //margin-top: 8px;
}
