.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 60px;
}

.headerActions {
  display: flex;
  gap: 48px;
}

.buttons {
  display: flex;
  gap: 24px;

}

@media  (width <=  768px) {
  .container{
    display: none;
  }
}



