.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dopBox {
  margin: 0 0 13px;
}

.pageLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  display: flex;
  gap: 64px;

  height: fit-content;
  min-height: 120px;
  margin-top: 18px;
  padding: 18px 24px;
  border: 1px solid var(--dark-300);
  border-radius: 2px;

  background-color: var(--dark-500);

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentText {
  font-family: var(--font-family), serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
  color: var(--light-100);
}

.contentTitle {
  font-weight: var(--font-weight-regular);
  color: var(--light-900);
}

.container {
  margin-top: 30px;
}

.subscriptionPay {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-self: flex-end;

  padding-top: 24px;

  .subscriptionPayBtn {
    width: clamp(96px, 10vw, 150px);
    height: clamp(64px, 13vh, 120px);
    padding: 0;
    border-color: var(--dark-300);

    background-color: var(--dark-500);
  }
}

.modal {
  width: clamp(320px, 30vw, 800px);
  min-width: 30%;
}

.labelClass {
  text-transform: none;
}

.btnModalResult{
  margin-top:54px;
}

.modalContent{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 24px;

}

.modalAction {
  display: flex;
  justify-content: space-between;
}
