.trigger {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 5px 12px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid var(--dark-100);
  background-color: transparent;
  color: var(--light-900);
  cursor: pointer;
  transition: all 0.2s ease;

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--light-900);
      color: var(--light-900);
    }
  }

  &:focus {
    outline: 2px solid var(--primary-500);
    border: 1px solid transparent;
    color: var(--light-900);
  }

  &:active {
    border-color: var(--light-100);
  }

  &:disabled {
    color: var(--dark-100);
    border-color: var(--dark-100);
  }

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
    border: 1px solid var(--light-100);
    background-color: var(--dark-500);
    color: var(--light-100);
  }
}

.triggerLanguage {
  width: 163px;
  color: var(--light-100);
}

.triggerLabel {
  color: var(--light-100);
}

.icon {
  transition: transform 0.2s ease-in-out;
}

[data-state='open'] .icon {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  border: 1px solid var(--light-100);
  color: var(--light-100);
  background-color: var(--dark-500);
  border-radius: 0 0 2px 2px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: var(--light-900);
    }
  }
}

.item {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  user-select: none;
  transition: all 0.3s ease;

  &[data-highlighted] {
    outline: none;
    background-color: var(--dark-300);
    color: var(--primary-500);
  }

  .itemContent {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-900);
}

.valueTitleLang {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 479.98px) {
  .triggerLanguage {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .valueTitleLang {
    margin-right: 2px;
  }

  .iconLanguage {
    width: 24px;
    height: 24px;
  }

  .titleLang {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemTitle {
    display: none;
  }
}
