.additionalModal {
  width: clamp(420px, 50vw, 1200px);
  min-width: 60%;

  // width: min(55%, 450px);
}

.additionalModalBtns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
